<!-- Footer -->
<footer class="bg1">
    <div class="container p-t-40 p-b-70">
        <div class="row">
            <div class="col-sm-6 col-md-4 p-t-50">
                <!-- - -->
                <h4 class="txt13 m-b-33">
                    Contactenos
                </h4>

                <ul class="m-b-70">
                    <li class="txt14 m-b-14">
                        <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
                        Jirón Cajamarca 746, Huancayo 
                    </li>

                    <li class="txt14 m-b-14">
                        <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
                        (+51) 920 198 541
                    </li>

                    <li class="txt14 m-b-14">
                        <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
                        maximoquisperios@gmail.com
                    </li>
                </ul>

                <!-- - -->
                <h4 class="txt13 m-b-32">
                    Atendemos desde
                </h4>

                <ul>
                    <li class="txt14">
                        09:00 AM – 5:00 PM
                    </li>

                    <li class="txt14">
                        Todos los días
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-4 p-t-50">
                <!-- - -->
                <h4 class="txt13 m-b-33">
                    Frases Destacadas 
                </h4>

                <div class="m-b-25">
                    <span class="fs-13 color2 m-r-5">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </span>
                    <a href="#" class="txt15">
                        @k_fabella
                    </a>

                    <p class="txt14 m-b-18">
                        Si construyes una gran experiencia, los clientes lo recomendaran a otros, el boca a boca es muy poderoso.
                        <a href="#" class="txt15">
                            Kai Fabella.
                        </a>
                    </p>

                    <span class="txt16">
                        16 Dic 2006
                    </span>
                </div>

                <div>
                    <span class="fs-13 color2 m-r-5">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </span>
                    <a href="#" class="txt15">
                        @gfarris
                    </a>

                    <p class="txt14 m-b-18">
                        Conversar con los clientes aumentará las ventas, incluso si nunca se menciona el producto o servicio.
                        <a href="#" class="txt15">
                            George Farris.
                        </a>
                    </p>

                    <span class="txt16">
                        12 May 2002
                    </span>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-t-50">
                <!-- - -->
                <h4 class="txt13 m-b-38">
                    Gallery
                </h4>

                <!-- Gallery footer -->
                <div class="wrap-gallery-footer flex-w">
                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/arroz.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/arroz.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/bebida.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/bebida.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/ceviche.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/ceviche.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/criollo.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/criollo.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/combo.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/combo.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato01.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato01.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato02.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato02.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato03.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato03.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato04.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato04.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato05.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato05.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato06.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato06.jpg" alt="GALLERY">
                    </a>

                    <a class="item-gallery-footer wrap-pic-w" href="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato07.jpg" data-lightbox="gallery-footer">
                        <img src="https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato07.jpg" alt="GALLERY">
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="end-footer bg2">
        <div class="container">
            <div class="flex-sb-m flex-w p-t-22 p-b-22">
                <div class="p-t-5 p-b-5">
                    <a href="https://www.facebook.com/Ellimoncitoperuano/" class="fs-15 c-white"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCAoNPfxlRNMWLxdFoqcgopw" class="fs-15 c-white"><i class="fa fa-youtube m-l-18" aria-hidden="true"></i></a>
                </div>

                <div class="txt17 p-r-20 p-t-5 p-b-5">
                    Copyright &copy; {{anio}} Todos los Derechos | Proyecto Limon P <i class="fa fa-heart"></i> by <a href="https://elrincondeoscar.migoyou.com" target="_blank">Limon P</a>
                </div>
            </div>
        </div>
    </div>
</footer>
