<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
		<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="banner" style="background-image: url(https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato02.jpg);"></div>
			<div class="carousel-caption d-none d-md-block ">
				<h5 class="animated rollIn">Conoce mas de Nosotros</h5>
				<p class="animated bounceInRight">Barriga llena, corazón contento</p>
				<a href="https://www.youtube.com/channel/UCAoNPfxlRNMWLxdFoqcgopw" class="animated bounceInUp">Video Youtube <i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="carousel-item">
			<div class="banner" style="background-image: url(https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato01.jpg);"></div>
			<div class="carousel-caption d-none d-md-block">
				<h5 class="animated rollIn">Conoce mas de Nosotros</h5>
				<p class="animated bounceInRight">Uno no puede pensar bien, amar bien y dormir bien si no ha cenado bien. </p>
				<a href="https://www.youtube.com/channel/UCAoNPfxlRNMWLxdFoqcgopw" class="animated bounceInUp">Video Youtube <i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="carousel-item">
			<div class="banner" style="background-image: url(https://limonpimg.s3.us-east-2.amazonaws.com/img_web/plato03.jpg);"></div>
			<div class="carousel-caption d-none d-md-block">
				<h5 class="animated rollIn">Conoce mas de Nosotros</h5>
				<p class="animated bounceInRight">Mientras tengo comida en la boca, todas las preguntas importantes quedarán resueltas. </p>
				<a href="https://www.youtube.com/channel/UCAoNPfxlRNMWLxdFoqcgopw" class="animated bounceInUp">Video Youtube <i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
	<h3 class="tit3 t-center m-b-35 m-t-5">
		Nuestra Historia
	</h3>

	<p class="t-center size32 m-l-r-auto">
		El restaurant Marisquería “El Limoncito Peruano” es una empresa nueva que desde haberse creado de encuentra al
		servicio de todos deleitando los paladares más exigentes del valle del Mantaro, “El Limoncito Peruano”, le ofrece una
		excelente atención a sus comensales, ya que cuenta con un personal de primera, con un ambiente limpio y
		adecuado, con terraza y al aire libre.El equipo que integra el restaurante está formado por profesionales tanto
		en el área gastronómico como administrativa y operativa con la finalidad de mantener una alta calidad en todos
		los sentidos. </p>
</section>
<!-- Banner -->
<div class="parallax0 parallax100 cocinando">
	<div class="overlay0-parallax t-center size33"></div>
</div>

<!-- Mision y Vision-->
<section class="bg1-pattern p-t-120 p-b-105">
	<div class="container">
		<!-- Mision -->
		<div class="row">
			<div class="col-md-6 p-t-45 p-b-30">
				<div class="wrap-text-delicious t-center">
					<h3 class="tit3 t-center m-b-35 m-t-5">
						Mision
					</h3>
					<p class="t-center m-b-22 size3 m-l-r-auto">
						Brindar un servicio de alta calidad, mediante precios accesibles y un trato cordial para el
						consumidor en un ambiente familiar y tranquilo; con el único fin de brindar un servicio
						satisfactorio para nuestros clientes.
					</p>
				</div>
			</div>
			<div class="col-md-6 p-b-30">
				<div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
					<img src="/assets/img/eat.jpg" alt="IMG-OUR">
				</div>
			</div>
		</div>
		<!-- Vision -->
		<div class="row p-t-170">
			<div class="col-md-6 p-b-30">
				<div class="wrap-pic-romantic size2 bo-rad-10 hov-img-zoom m-l-r-auto">
					<img src="/assets/img/laugh.jpg" alt="IMG-OUR">
				</div>
			</div>
			<div class="col-md-6 p-t-45 p-b-30">
				<div class="wrap-text-romantic t-center">
					<h3 class="tit3 t-center m-b-35 m-t-5">
						Vision
					</h3>
					<p class="t-center m-b-22 size3 m-l-r-auto">
						Mantener un excelente servicio y trato para nuestros clientes, ofreciéndoles siempre productos
						frescos y de la mejor calidad. </p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Chef -->
<section class="section-chef bgwhite p-t-115 p-b-95">
	<div class="container t-center">
		<h3 class="tit5 t-center m-b-50 m-t-5">
			Importantes
		</h3>

		<div class="row">
			<div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
				<!-- -Block5 -->
				<div class="blo5 pos-relative p-t-60">
					<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
						<a href="#"><img src="/assets/img/mario.jpg" alt="IGM-AVATAR"></a>
					</div>

					<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
						<a href="#" class="txt34 dis-block p-b-6">
							Mario Ramirez
						</a>

						<span class="dis-block t-center txt35 p-b-25">
							Cliente
						</span>

						<p class="t-center">
							Un error bien atendido es la mejor oportunidad para fidelizar a cualquier cliente
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
				<!-- -Block5 -->
				<div class="blo5 pos-relative p-t-60">
					<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
						<a href="#"><img src="/assets/img/abuelo.jpg" alt="IGM-AVATAR"></a>
					</div>

					<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
						<a href="#" class="txt34 dis-block p-b-6">
							Oscar Perez
						</a>

						<span class="dis-block t-center txt35 p-b-25">
							Abuelo Inspirador
						</span>

						<p class="t-center">
							Hay padres que no aman a sus hijos; no hay abuelo que no adore a sus nietos
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-lg-4 m-l-r-auto p-b-30">
				<!-- -Block5 -->
				<div class="blo5 pos-relative p-t-60">
					<div class="pic-blo5 size14 bo4 wrap-cir-pic hov-img-zoom ab-c-t">
						<a href="#"><img src="/assets/img/oscar.jpg" alt="IGM-AVATAR"></a>
					</div>

					<div class="text-blo5 size34 t-center bo-rad-10 bo7 p-t-90 p-l-35 p-r-35 p-b-30">
						<a href="#" class="txt34 dis-block p-b-6">
							Rodrigo Velasquez
						</a>

						<span class="dis-block t-center txt35 p-b-25">
							Amigo
						</span>

						<p class="t-center">
							Un amigo es alguien que te conoce como eres, entiende dónde has estado, acepta en lo que te
							has convertido y aun así, gentilmente te permite crecer.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>