
<div class="todo">
    <div class="haber">
        <h3 class="tit3 t-center m-b-35 m-t-5">
            Proceso Realizado Exitosamente.
        </h3>
        <img class="emoji" src="/assets/img/emoji.png" alt="Felicidades" [routerLink]="[ '/menu']">
        <div class="texto txt25">
            <span>Para poder haber llegado a esto tuviste que pasar un tiempo dentro de la pagina </span>
            <span>Su pedido sera atendido con la satisfaccion que nos genera tu preferencia.</span>
            <span>Gracias por dejarnos ser parte de tu preferencia </span>
        </div>
        <br>
        <button class="btn btn-success" [routerLink]="[ '/menu']"> Seguir Comprando</button>
    </div>
</div>
