<div class="container-fluid cuenta">
    <ng-template [ngIf]="useridT[0]">

        <div class="userSO">
            <span class="txt21">
                Bienvenido
                <strong>
                    {{user.name}}.
                </strong>
                Ya casi esta todo listo, solo rellena los campos que faltan.
            </span>
        </div>

        <div class="cliente card">
            <form [formGroup]="clienteForm">
                <div class="form-cli ">
                    <label for="nombres" class="txt19">Nombre(s) *</label>
                    <input class="form-control txt23" type="text" formControlName="nombres" value="{{user.firstName}}"
                        required>
                </div>
                <div class="form-cli ">
                    <label for="apellidos" class="txt19">Apellidos *</label>
                    <input class=" form-control txt23" type="text" formControlName="apellidos"
                        value="{{user.lastName}}">
                </div>
                <div class="form-cli ">
                    <label for="telefono" class="txt19">Telefono De Contacto *</label>
                    <input class="form-control txt23" type="text" formControlName="telefono" placeholder="999 999 999"
                        maxlength="9" minlength="9" required onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" >
                </div>
                <div class="form-cli ">
                    <label for="direccion" class="txt19">Direccion *</label>
                    <input class="form-control txt23" type="text" formControlName="direccion"
                        placeholder="Jr. Cajamarca 740" required>
                </div>
                <div class="form-cli ">
                    <label for="email" class="txt19">Correo Electronico *</label>
                    <input class="form-control txt23" type="text" formControlName="email" value="{{user.email}}"
                        required>
                </div>
                <div class="form-cli ">
                    <label for="dni" class="txt19">DNI *</label>
                    <input class="form-control txt23" type="text" formControlName="dni" placeholder="DNI" maxlength="8" minlength="8"
                        required onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" >
                </div>

                <div class="btn-div">
                    <input type="submit" value="Guardar" 
                        class="btn btn-success btn-account txt23" (click)="crearCliente()">
                </div>
            </form>

        </div>

    </ng-template>
    <ng-template [ngIf]="clienteT[0]">

        <div class="userSO">
            <span class="txt21">
                Bienvenido
                <strong>
                    {{user.name}}.
                </strong>
                Que bueno tenerte de vuelta
                <hr>
                <div>
                    <ng-template [ngIf]="!editar">
                        <button class="btn btn-success botonesSuperiores txt23" type="button" (click)="habilitar()"> <i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Editar Algunos Datos
                        </button>
                    </ng-template>
                    <ng-template [ngIf]="editar === true">
                        <button class="btn btn-success botonesSuperiores txt23" type="button" (click)="deshabilitar()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancelar Edicion
                        </button>
                    </ng-template>

                    <button class="btn btn-success botonesSuperiores txt23" type="button" [routerLink]="[ '/menu']"> <i
                            class="fa fa-cutlery" aria-hidden="true"></i>
                        Ir al Menu de los Productos.
                    </button>
                </div>
                <hr>
            </span>
        </div>

        <div class="cliente card">
            <ng-template [ngIf]="editar === true">
                <div>
                    <p>Todos Los Campos Son Obligatorios</p>
                </div>
            </ng-template>

            <form [formGroup]="actualizarForm">
                <div class="form-cli ">
                    <label for="nombres" class="txt19">Nombre(s) *</label>
                    <input class="form-control txt23" type="text" formControlName="nombres"
                        value="{{clienteT[0].nombres}}" required>
                </div>
                <div class="form-cli ">
                    <label for="apellidos" class="txt19">Apellidos *</label>
                    <input class=" form-control txt23" type="text" formControlName="apellidos"
                        value="{{clienteT[0].apellidos}}" required>
                </div>
                <div class="form-cli ">
                    <label for="telefono" class="txt19">Telefono De Contacto *</label>
                    <input class="form-control txt23" type="text" formControlName="telefono" placeholder="999 999 999"
                        value="{{clienteT[0].telefono}}" maxlength="9" minlength="9" required onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" >
                </div>
                <div class="form-cli ">
                    <label for="direccion" class="txt19">Direccion *</label>
                    <input class="form-control txt23" type="text" formControlName="direccion"
                        value="{{clienteT[0].direccion}}" placeholder="Jr. Cajamarca 740" required>
                </div>
                <div class="form-cli ">
                    <label for="email" class="txt19">Correo Electronico *</label>
                    <input class="form-control txt23" type="text" formControlName="email" value="{{clienteT[0].email}}"
                        required>
                </div>
                <div class="form-cli ">
                    <label for="dni" class="txt19">DNI *</label>
                    <input class="form-control txt23" type="text" formControlName="dni" placeholder="DNI" maxlength="8"
                        minlength="8" value="{{clienteT[0].dni}}" required onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" >
                </div>

                <ng-template [ngIf]="editar === true">
                    <div class="btn-div">
                        <input type="submit" value="Actualizar Datos" [disabled]="!actualizarForm.valid"
                            class="btn btn-success btn-account txt23" (click)="actualizarCliente()">
                    </div>
                </ng-template>
            </form>

        </div>

    </ng-template>



</div>